/* Background */
@-webkit-keyframes backgroundGradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes btn-gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes backgroundGradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}


/* Buttons */
@-webkit-keyframes btn-gradient {
    0% {
        background-position: 0% 99%
    }

    50% {
        background-position: 100% 2%
    }

    100% {
        background-position: 0% 99%
    }
}

@-moz-keyframes btn-gradient {
    0% {
        background-position: 0% 99%
    }

    50% {
        background-position: 100% 2%
    }

    100% {
        background-position: 0% 99%
    }
}

@keyframes btn-gradient {
    0% {
        background-position: 0% 99%
    }

    50% {
        background-position: 100% 2%
    }

    100% {
        background-position: 0% 99%
    }
}