@import url("root.css");
@import url('animations.css');

/*body adjustments*/
body {
    cursor: default;
    /*disables text selection*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: linear-gradient(270deg, #66d0d5, #b766d5, #e16bae, #6be1ae);
    background-size: 800% 800%;
    -webkit-animation: backgroundGradient 30s ease infinite;
    animation: backgroundGradient 30s ease infinite;
    overflow-x: hidden;
}
body::-webkit-scrollbar-thumb {
    color: rgba(255, 255, 255, 0.1);
}
body::-webkit-scrollbar-track {
    color: rgba(255, 255, 255, 0.0);
}

.jumbotron {
    background-color: #e9ecefa9;
}

.card {
    background-color: #e9ecefa9;
}

.btn-gradient {
    color: white !important;

    background: linear-gradient(230deg, #76d8e3, #a476e3, #e376b4);
    background-size: 600% 600%;

    -webkit-animation: btn-gradient 30s ease infinite;
    -moz-animation: btn-gradient 30s ease infinite;
    animation: btn-gradient 30s ease infinite;
}
.text-click {
    color: #0097dd !important;
    text-decoration: none;
    transition: 300ms ease;
}
.text-click:hover {
    color: #0077ff !important;
    cursor: pointer;
}
@media only screen and (min-width: 768px) {
    #madeWith {
        position: fixed;
        bottom: 0;
    }
    #madeWith p {
        width: auto !important;
        margin: 0.5rem !important;
    }
}
#madeWith {
    margin-top: 2rem;
    padding: 1rem;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.1);
}
#madeWith p {
    width: 26.2rem;
    margin: 0 auto;
}
#madeWith #disclaimer {
    width: 12.5rem !important;
}
