@import "root.css";

/*body adjustments*/
body {
    cursor: default;
    /*disables text selection*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: linear-gradient(270deg, #66d0d5, #b766d5, #e16bae, #6be1ae);
    background-size: 800% 800%;
    -webkit-animation: backgroundGradient 30s ease infinite;
    animation: backgroundGradient 30s ease infinite;
}

@-webkit-keyframes backgroundGradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes backgroundGradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.jumbotron {
    background-color: #e9ecefa9;
}

.card {
    background-color: #e9ecefa9;
}

.btn-gradient {
    color: white !important;

    background: linear-gradient(230deg, #76d8e3, #a476e3, #e376b4);
    background-size: 600% 600%;

    -webkit-animation: btn-gradient 30s ease infinite;
    -moz-animation: btn-gradient 30s ease infinite;
    animation: btn-gradient 30s ease infinite;
}

@-webkit-keyframes btn-gradient {
    0% {
        background-position: 0% 99%
    }

    50% {
        background-position: 100% 2%
    }

    100% {
        background-position: 0% 99%
    }
}

@-moz-keyframes btn-gradient {
    0% {
        background-position: 0% 99%
    }

    50% {
        background-position: 100% 2%
    }

    100% {
        background-position: 0% 99%
    }
}

@keyframes btn-gradient {
    0% {
        background-position: 0% 99%
    }

    50% {
        background-position: 100% 2%
    }

    100% {
        background-position: 0% 99%
    }
}